@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
section{
    width:100%;
    /* height: 766px; */
    padding-bottom: 70px;
}
.header_bottom h3{
    display: inline-block;
    line-height: 94px;
    /* margin-top:30px; */
    margin-left:60px;
    font-weight: 400;
}
.header_right {
    float: right;
    margin-right:54px;
}
.header_right li{
   
    float: left;
    margin-left:30px;
}
.header_right a{
     color:#333;
}
.lianxi{
    width:1202px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:12px;
    color:#666;
    margin:0 auto;
}
.lianxi a{
    font-size:12px;
    color:#666;
}
.lianxi a:nth-child(2){
    margin-top:2px;
}
.lianxi .jiaotan{
    float: right;
    width:86px;
    height:16px;
    text-align: center;
    border-radius:10px;
    border:2px solid #979795;
}
.lianxi a:hover{
    color: #d93732;
    border-color:#d93732
}
.box{
    width: 1200px;
    background: #fff;
    padding: 20px 38px;
    padding-bottom: 30px;
}
.box table{ 
    color:#333;
    font-size: 14px;
    text-align: center; 
    border-collapse: collapse; 
} 
.box th{
    /* height: 70px; */
    background: #fff;
}
.box tr{
    border-collapse:collapse;
}
.tb_head th{
    font-size: 14px;
    color:#333;
    width: 114px;
}
.tb_head .check{
    width: 50px;
    font-size: 12px;
}
.tb_head .info{
    width: 560px;
    text-align: left;
    padding-left:12px;
}
.tb_tr tr{
    height:124px;
    margin:2px 0;
}
.tb_tr tr div{
    font-size:12px;
    float: left;
    margin-top:36px;
    line-height: 20px;
}
.tb_tr tr div p:nth-child(2){
    color:#666;
}
.jishu span{
  cursor: pointer;
  color:#ddd;
}
.jishu input{
  width:60px;
  text-align: center;
  border:none;
}
.tb_tr tr td:last-of-type a{
  margin-left:45px;
  display: block;
  width: 14px;
  height: 20px;
  background: url("../img/bgr.png") -256px -17px;
}
.box .jg{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jg div:nth-of-type(1) i{
  float: left;
  width:7px;
  height: 14px;
  margin-right: 10px;
  margin-top:5px;
  background: url("../img/bgr.png") -293px -32px;
}
.jg div:nth-of-type(1) a{
  float: left;
  color:#333;
}
.jg div:nth-of-type(1) a:hover{
  color:#d93732;
}
.jg div:last-of-type p:last-of-type{
  width:202px;
  height: 41px;
  color:white;
  border-radius: 2px;
  line-height: 41px;
  text-align-last: center;
  background: #d93732;
}
.jg .zj{
  width: 478px;
}
.zj P:nth-of-type(1){
  line-height: 80px;
  float: left;
}
.zj P:nth-of-type(2){
  margin-top:20px;
  float: right;
  cursor: pointer;
}